button,
.button {
  @include contrast(color-neutral(700));

  border: 0;
  cursor: pointer;
  line-height: 2rem;
  padding: 1rem 2rem;
  text-align: center;

  &:hover,
  &.hover {
    opacity: .85;
  }
}


/**
  Group of form inputs and corresponding labels
 */

.form-group {
  button,
  .button {
    width: 100%;
  }
}
