<h2 class="title">Settings</h2>

<div class="card">
  <h3 class="subtitle">Sort</h3>

  <div class="form-group">
    <input id="alphabetically" name="sort" type="radio">
    <label for="alphabetically" name="sort">Alphabetically</label>
  </div>

  <div class="form-group">
    <input id="time-added" name="sort" type="radio">
    <label for="time-added" name="sort">By time added</label>
  </div>

  <div class="form-group">
    <input id="time-completed" name="sort" type="radio">
    <label for="time-completed" name="sort">By time completed</label>
  </div>
</div>
