<h2 class="title">Settings</h2>

<div class="card">
  <h3 class="title">Sort order</h3>

  <div class="form-group">
    <input id="alphabetical" name="sortOrder" type="radio" [value]="todoService.sortOrder.alphabetical"
           [checked]="todoService.settings.sortOrder === todoService.sortOrder.alphabetical"
           (change)="onSettingsChange($event)">
    <label for="alphabetical">Alphabetical</label>
  </div>

  <div class="form-group">
    <input id="newestFirst" name="sortOrder" type="radio" [value]="todoService.sortOrder.newestFirst"
           [checked]="todoService.settings.sortOrder === todoService.sortOrder.newestFirst"
           (change)="onSettingsChange($event)">
    <label for="newestFirst">Newest first</label>
  </div>

  <div class="form-group">
    <input id="oldestFirst" name="sortOrder" type="radio" [value]="todoService.sortOrder.oldestFirst"
           [checked]="todoService.settings.sortOrder === todoService.sortOrder.oldestFirst"
           (change)="onSettingsChange($event)">
    <label for="oldestFirst">Oldest first</label>
  </div>
</div>


<div class="card">
  <h3 class="title">Completed tasks</h3>

  <div class="form-group">
    <input id="autoRemoveCompleted" type="checkbox" value="autoRemoveCompleted"
           [checked]="todoService.settings.autoRemoveCompleted === true"
           (change)="onSettingsChange($event)">
    <label for="autoRemoveCompleted">Auto-remove completed tasks</label>
  </div>

  <div class="form-group">
    <input id="incompleteFirst" type="checkbox" value="incompleteFirst"
           [checked]="todoService.settings.incompleteFirst === true"
           (change)="onSettingsChange($event)">
    <label for="incompleteFirst">Move completed tasks to the bottom</label>
  </div>
</div>
