@mixin contrast($background: color(neutral), $dark: color(black), $light: color(white)) {
  background: $background;
  color: contrast($background, $dark, $light);
}

@mixin size($width, $height: $width) {
  height: $height;
  width: $width;
}
